<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nuevo Autor</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h1 class="card-title">Nuevo autor</h1>
	    <form action="/author/" method="post">
	    	<div class="form-group">
	    		<label for="inputName">Nombre:</label>
	    		<input th:value="${author.name}" class="form-control" type='text' id="inputName" name='name' placeholder="Nombre"/>
	    	</div>

	    	<div class="form-group">
	    		<label for="inputSurnames">Apellidos:</label>
	    		<input th:value="${author.surnames}" class="form-control" type='text' id="inputSurnames" name='surnames' placeholder="Apellidos"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="inputDNI">DNI:</label>
	    		<input th:value="${author.nif}" class="form-control" type='text' id="inputDNI" name='nif' placeholder="DNI"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="inputBirthYear">Año de nacimiento:</label>
	    		<input th:value="${author.birthYear}" class="form-control" type='text' id="inputBirthYear" name='birthYear' placeholder="Año de nacimiento"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="inputBirthCountry">País de nacimiento:</label>
	    		<input th:value="${author.birthCountry}" class="form-control" type='text' id="inputBirthCountry" name='birthCountry' placeholder="País de nacimiento"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="inputPostalAddress">Dirección postal:</label>
	    		<input th:value="${author.postalAddress}" class="form-control" type='text' id="inputPostalAddress" name='postalAddress' placeholder="Dirección postal"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="inputEmail">Email:</label>
	    		<input th:value="${author.email}" class="form-control" type='text' id="inputEmail" name='email' placeholder="Email"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="inputPhone">Teléfono:</label>
	    		<input th:value="${author.phone}" class="form-control" type='text' id="inputPhone" name='phone' placeholder="Teléfono"/>
	    	</div>
	    	<button type="submit" class="btn btn-primary">Enviar</button>
	    
	    </form>
	  </div>
	</div>


</body>
</html>