<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Galería</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet" />
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

	<div class="row h-100">
		<div class="card text-center my-auto sd-card">
		<div class="card-header">
			 <h1 class="card-title">Galería de Cuadros</h1>
		</div>
		  <div class="card-body row h-100">
		    <div class="mx-auto my-auto">
				<a class="btn btn-primary btn-lg" href="/cuadro/mostrarCuadros" type="button"><span class="align-middle">Cuadros disponibles</span>
				<i class="material-icons align-middle">photo_size_select_actual</i>
			    </a>
				        
		        <a class="btn btn-primary btn-lg" href="/autor/mostrarAutores" type="button">
		        <span class="align-middle">Autores adscritos</span>
		            <i class="material-icons align-middle">brush</i>
		        </a>

				        
		        <a class="btn btn-primary btn-lg" href="/cliente/mostrarClientes" type="button">
		        <span class="align-middle">Clientes afiliados</span>
		            <i class="material-icons align-middle">person</i>
		        </a>
			</div>   
		  </div>
		</div>
	</div>
</body>
</html>