<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Galería</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet" />
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
			<div style="text-align: center">			
			    <h1>
			        Cuadros disponibles
			        <a href="/cuadro/mostrarCuadros" type="button">
			            <i class="material-icons">photo_size_select_actual</i>
			        </a>
			    </h1>
			     <h1>
			        Autores adscritos
			        <a href="/autor/mostrarAutores" type="button">
			            <i class="material-icons">brush</i>
			        </a>
			    </h1>
			     <h1>
			        Clientes afiliados
			        <a href="/cliente/mostrarClientes" type="button">
			            <i class="material-icons">person</i>
			        </a>
			    </h1>
		</div>
	
</body>
</html>