<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body class="color-background">
<div class="center-info-card">
    <div class="card mx-auto card-width">
        <div class="card-body">
            <h1 class="card-title center-title">Ficha de Autor</h1>
            <div class="sd-margin">
                <span class="font-weight-bold">Nombre: </span>
                <span th:text="${autor.nombre}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">Apellidos: </span>
                <span th:text="${autor.apellidos}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">NIF: </span>
                <span th:text="${autor.nif}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">Año de Nacimiento: </span>
                <span th:text="${autor.anyoNacimiento}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">País de Nacimiento: </span>
                <span th:text="${autor.paisNacimiento}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">Dirección Postal: </span>
                <span th:text="${autor.direccionPostal}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">Email: </span>
                <span th:text="${autor.email}"></span>
            </div>
            <div class="sd-margin">
                <span class="font-weight-bold">Teléfono: </span>
                <span th:text="${autor.telefono}"></span>
            </div>

            <a th:href="@{'/autor/mostrarAutores'}" type="button" class="btn btn-primary sd-margin">Volver</a>
        </div>
    </div>
</div>

</body>
</html>