<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nuevo Cuadro</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>


	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h1 class="card-title">Nuevo cuadro</h1>
	    <form action="/picture/" method="post">
	    	<div class="form-group">
	    		<label for="entradaTitulo">Título:</label>
	    		<input class="form-control" type='text' id="entradaTitulo" name='titulo' placeholder="Título"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="descripcion">Descripción</label>
    			<textarea class="form-control" id="descripcion" rows="5"></textarea>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="entradaAnyoFinalizacion">Año de finalización:</label>
	    		<input class="form-control" type='text' id="entradaAnyoFinalizacion" name='anyoFinalizacion' placeholder="Año de finalización"/>
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="entradaAnchura">Anchura:</label>
	    		<input class="form-control" type='text' id="entradaAnchura" name='anchura' placeholder="Anchura"/> cm
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="entradaAltura">Altura:</label>
	    		<input class="form-control" type='text' id="entradaAltura" name='altura' placeholder="Altura"/> cm
	    	</div>
	    	
	    	<div class="form-group">
	    		<label for="entradaPrecio">Precio:</label>
	    		<input class="form-control" type='text' id="entradaPrecio" name='precio' placeholder="Precio"/> euros
	    	</div>
	    	
	    	<button type="button" class="btn btn-primary">Enviar</button>
</body>
</html>