body, html {
    background-image: linear-gradient(to bottom right, rgb(14, 89, 186), rgba(255,0,0,0));
    height: 100%;
    background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
	background-color: #9CE7FE;
}


.sd-card {
	 width: 100rem;
	 top: 5rem;
	 margin: auto;
	 min-height: 50rem;
}


.btn-lg{
	font-size: 2rem;
}

.center-info-card {
    align-content: center;
    margin-top: 4rem;
    display: flex;
    margin-bottom: 4rem;
}

.center-title {
    text-align: center
}

.card-width {
    width: 40rem
}

.cancel-button {
    margin-left: 2rem;
}

.btn-primary {
	background-color: #3498DB;
	border-color: #3498DB;
}

.btn-primary:active, .btn-primary:checked, .btn-primary:focus, .btn-primary:hover {
	background-color: #5DADE2 !important;
	border-color: #5DADE2 !important;  
}

.mensajeError{
	color: #C81D11 !important;
	margin-top: 50px;
}

.celda{
	vertical-align: middle !important;
}


.sd-margin {
	margin-top: 15px;
}

.sd-table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	cursor: default;
}

.sd-row {
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #080EC8 !important;
    cursor: pointer;
}

.sd-row:hover, sd-row:focus {
    background-size: 100% 2px;
    cursor: pointer;
    
}

.sd-table-container {
	margin-top: 30px;
}

.descuento {
	font-weight: bold;
	color: #229954;
	
}

.urlWeb {
	color: #080EC8 !important;
}